@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your base theme settings */
  @layer base {

  html {
    --color-interface-surface-page: #f0f2f6;
    --color-interface-surface-component: #fff;
    --color-white: #fff;
    --color-gray-200: #e5e7eb;
    --color-gray-800: #1f2a37;
    --color-primary-700: #1a56db;
    --color-interface-text-subtitle: #9ca1ab;
    --color-brand-support-1-400: #35d294;
    --color-interface-text-title: #374151;
    --color-brand-highlight-600: #d62c72;
    --color-brand-highlight-500: #e74d94;
    --color-tan-100: "#d1c09e";
    --color-tan-200: "#c0a979";
    --color-brand-primary-pure: #1570ef;
    --color-steelblue-100: #306785;
    --color-steelblue-200: #1c5385;
    --color-lightslategray: #628ba2;
    --color-lightsteelblue: #8dabbc;
    --color-darkslategray-100: #3d4754;
    --color-darkslategray-200: #344054;
    --color-darkslategray-300: rgba(30, 62, 90, 0.6);
    --color-brand-highlight-300: #f7aad1;
    --color-brand-highlight-400: #f076b2;
    --color-brand-primary-600: #5cb6fe;
    --color-brand-primary-700: #1861dd;
    --color-brand-primary-800: #bde2ff;
    --color-tertiary-text-light: rgba(28, 48, 74, 0.52);
    --color-interface-stroke-default: #becde3;
    --color-interface-stroke-soft: #2b3b4f;
    --color-peachpuff: #ffc5a6;
    --color-teal-600: #008bd2;
    --color-brand-support-1-pure: #057a55;
    --color-body-text: rgba(25, 39, 57, 0.94);
    --color-charts-color-0: #5ac2f7;
    --color-secondary-text: rgba(27, 43, 65, 0.69);
    --color-gray-600: #4b5563;
    --color-gray-400: #9ca3af;
    --color-neutral-50: #6b7280;
    --color-interface-surface-component-muted: #f5f6f7;
    --color-color-gray-text-teritiary: #667085;
    --color-light-theme-text-default: #4c525f;
    --color-social-dribbble: #ea4c89;
    --color-light-theme-text-title: #293141;
    --color-light-theme-text-subtitle: rgba(76, 82, 95, 0.6);
    --color-gold: #f8ca16;
    --color-darkslateblue: #4a5ea7;
    --color-neutral-200: #999;
    --color-color-warning-tint100: #fef0c7;
    --color-color-warning-tint400: #fdb022;
    --color-gray-100: #777;
    --color-gray-200: rgba(255, 255, 255, 0.3);
    --color-gray-300: rgba(0, 0, 0, 0.03);
    --color-gray-400: rgba(0, 0, 0, 0);
    --color-interface-text-default: #4b586e;
    --color-gainsboro: #dfe4ec;
    --color-text-menu: #767a87;
    --color-text: #363a44;
    --color-light-theme-border-default: #d8d8d8;
    --color-alert-red: #a83b3b;
    --color-red-600: #e02424;
    --color-snow: #fbf9f7;
    --color-contrast-20-light: rgba(28, 55, 90, 0.16);
    --color-tertiary-text-light1: rgba(28, 48, 74, 0.5);
    --color-stroke-default: #d1d5db;
    --color-gray-50: #f9fafb;
    --color-colors-highlight-pure: #5d4026;
    --color-colors-primary-pure: #06486c;
    --color-yellow-300: #faca15;
    --color-color-secondary-base: #4fb155;
    --color-interface-text-subtitle1: #9ca1ab;
    --color-interface-text-default: #4b586e;
    --color-border: #eae7e5;
    --color-neutral-sig-sand-1: #f2efeb;
  }  
  html[data-theme="pink"] {
    --color-interface-surface-page: #fffcfd;
    --color-interface-surface-component: #fff4f9;
    --color-white: #fff;
    --color-gray-200: #e5e7eb;
    --color-gray-800: #1f2a37;
    --color-primary-700: #d62c72;
    --color-interface-text-subtitle: #9ca1ab;
    --color-brand-support-1-400: #35d294;
    --color-interface-text-title: #374151;
    --color-brand-highlight-600: #d62c72;
    --color-brand-highlight-500: #e74d94;
    --color-tan-100: "#d1c09e";
    --color-tan-200: "#c0a979";
    --color-brand-primary-pure: #e71e72;
    --color-steelblue-100: #306785;
    --color-steelblue-200: #1c5385;
    --color-lightslategray: #628ba2;
    --color-lightsteelblue: #8dabbc;
    --color-darkslategray-100: #3d4754;
    --color-darkslategray-200: #344054;
    --color-darkslategray-300: rgba(30, 62, 90, 0.6);
    --color-brand-highlight-300: #f7aad1;
    --color-brand-highlight-400: #f076b2;
    --color-brand-primary-600: #f863a1;
    --color-brand-primary-700: #fc3286;
    --color-brand-primary-800: #fc1977;
    --color-tertiary-text-light: rgba(28, 48, 74, 0.52);
    --color-interface-stroke-default: #becde3;
    --color-interface-stroke-soft: #2b3b4f;
    --color-peachpuff: #ffc5a6;
    --color-teal-600: #008bd2;
    --color-brand-support-1-pure: #057a55;
    --color-body-text: rgba(25, 39, 57, 0.94);
    --color-charts-color-0: #5ac2f7;
    --color-secondary-text: rgba(27, 43, 65, 0.69);
    --color-gray-600: #4b5563;
    --color-gray-400: #9ca3af;
    --color-neutral-50: #6b7280;
    --color-interface-surface-component-muted: #f5f6f7;
    --color-color-gray-text-teritiary: #667085;
    --color-light-theme-text-default: #4c525f;
    --color-social-dribbble: #ea4c89;
    --color-light-theme-text-title: #293141;
    --color-light-theme-text-subtitle: rgba(76, 82, 95, 0.6);
    --color-gold: #f8ca16;
    --color-darkslateblue: #4a5ea7;
    --color-neutral-200: #999;
    --color-color-warning-tint100: #fef0c7;
    --color-color-warning-tint400: #fdb022;
    --color-gray-100: #777;
    --color-gray-200: rgba(255, 255, 255, 0.3);
    --color-gray-300: rgba(0, 0, 0, 0.03);
    --color-gray-400: rgba(0, 0, 0, 0);
    --color-interface-text-default: #4b586e;
    --color-gainsboro: #dfe4ec;
    --color-text-menu: #767a87;
    --color-text: #363a44;
    --color-light-theme-border-default: #d8d8d8;
    --color-alert-red: #a83b3b;
    --color-red-600: #e02424;
    --color-snow: #fbf9f7;
    --color-contrast-20-light: rgba(28, 55, 90, 0.16);
    --color-tertiary-text-light1: rgba(28, 48, 74, 0.5);
    --color-stroke-default: #d1d5db;
    --color-gray-50: #f9fafb;
    --color-colors-highlight-pure: #5d4026;
    --color-colors-primary-pure: #06486c;
    --color-yellow-300: #faca15;
    --color-color-secondary-base: #4fb155;
    --color-interface-text-subtitle1: #9ca1ab;
    --color-interface-text-default: #4b586e;
    --color-border: #eae7e5;
    --color-neutral-sig-sand-1: #f2efeb;
  }
  html[data-theme="green"] {
    --color-interface-surface-page: #fcfffc;
    --color-interface-surface-component: #ebfdee;
    --color-white: #fff;
    --color-gray-200: #e5e7eb;
    --color-gray-800: #1f2a37;
    --color-primary-700: #00991b;
    --color-interface-text-subtitle: #9ca1ab;
    --color-brand-support-1-400: #35d294;
    --color-interface-text-title: #374151;
    --color-brand-highlight-600: #00991b;
    --color-brand-highlight-500: #01b822;
    --color-tan-100: "#d1c09e";
    --color-tan-200: "#c0a979";
    --color-brand-primary-pure: #007716;
    --color-steelblue-100: #306785;
    --color-steelblue-200: #1c5385;
    --color-lightslategray: #628ba2;
    --color-lightsteelblue: #8dabbc;
    --color-darkslategray-100: #3d4754;
    --color-darkslategray-200: #344054;
    --color-darkslategray-300: rgba(30, 62, 90, 0.6);
    --color-brand-highlight-300: #f7aad1;
    --color-brand-highlight-400: #f076b2;
    --color-brand-primary-600: #00be23;
    --color-brand-primary-700: #01991d;
    --color-brand-primary-800: #016614;
    --color-tertiary-text-light: rgba(28, 48, 74, 0.52);
    --color-interface-stroke-default: #becde3;
    --color-interface-stroke-soft: #2b3b4f;
    --color-peachpuff: #ffc5a6;
    --color-teal-600: #008bd2;
    --color-brand-support-1-pure: #057a55;
    --color-body-text: rgba(25, 39, 57, 0.94);
    --color-charts-color-0: #5ac2f7;
    --color-secondary-text: rgba(27, 43, 65, 0.69);
    --color-gray-600: #4b5563;
    --color-gray-400: #9ca3af;
    --color-neutral-50: #6b7280;
    --color-interface-surface-component-muted: #f5f6f7;
    --color-color-gray-text-teritiary: #667085;
    --color-light-theme-text-default: #4c525f;
    --color-social-dribbble: #ea4c89;
    --color-light-theme-text-title: #293141;
    --color-light-theme-text-subtitle: rgba(76, 82, 95, 0.6);
    --color-gold: #f8ca16;
    --color-darkslateblue: #4a5ea7;
    --color-neutral-200: #999;
    --color-color-warning-tint100: #fef0c7;
    --color-color-warning-tint400: #fdb022;
    --color-gray-100: #777;
    --color-gray-200: rgba(255, 255, 255, 0.3);
    --color-gray-300: rgba(0, 0, 0, 0.03);
    --color-gray-400: rgba(0, 0, 0, 0);
    --color-interface-text-default: #4b586e;
    --color-gainsboro: #dfe4ec;
    --color-text-menu: #767a87;
    --color-text: #363a44;
    --color-light-theme-border-default: #d8d8d8;
    --color-alert-red: #a83b3b;
    --color-red-600: #e02424;
    --color-snow: #fbf9f7;
    --color-contrast-20-light: rgba(28, 55, 90, 0.16);
    --color-tertiary-text-light1: rgba(28, 48, 74, 0.5);
    --color-stroke-default: #d1d5db;
    --color-gray-50: #f9fafb;
    --color-colors-highlight-pure: #5d4026;
    --color-colors-primary-pure: #06486c;
    --color-yellow-300: #faca15;
    --color-color-secondary-base: #4fb155;
    --color-interface-text-subtitle1: #9ca1ab;
    --color-interface-text-default: #4b586e;
    --color-border: #eae7e5;
    --color-neutral-sig-sand-1: #f2efeb;
  }
  html[data-theme="dark"] {
    --color-interface-surface-page: #1f2a37;
    --color-interface-surface-component: #111928;
    --color-white: #fff;
    --color-gray-200: #e5e7eb;
    --color-gray-800: #1f2a37;
    --color-primary-700: #1a56db;
    --color-interface-text-subtitle: #d1d5db;
    --color-brand-support-1-400: #069564;
    --color-interface-text-title: #374151;
    --color-brand-highlight-600: #f076b2;
    --color-brand-highlight-500: #e74d94;
    --color-tan-100: "#d1c09e";
    --color-tan-200: "#c0a979";
    --color-brand-primary-pure: #1570ef;
    --color-steelblue-100: #306785;
    --color-steelblue-200: #1c5385;
    --color-lightslategray: #628ba2;
    --color-lightsteelblue: #8dabbc;
    --color-darkslategray-100: #3d4754;
    --color-darkslategray200: #344054;
    --color-darkslategray300: rgba(30, 62, 90, 0.6);
    --color-brand-highlight-300: #b91d58;
    --color-brand-highlight-400: #d62c72;
    --color-brand-primary-600: #5cb6fe;
    --color-brand-primary-700: #90d1ff;
    --color-brand-primary-800: #bde2ff;
    --color-tertiary-text-light: rgba(28, 48, 74, 0.52);
    --color-interface-stroke-default: #374151;
    --color-interface-stroke-soft: #2b3b4f;
    --color-peachpuff: #ffc5a6;
    --color-teal-600: #008bd2;
    --color-brand-support-1-pure: #057a55;
    --color-body-text: rgba(25, 39, 57, 0.94);
    --color-charts-color-0: #5ac2f7;
    --color-secondary-text: rgba(27, 43, 65, 0.69);
    --color-gray-600: #4b5563;
    --color-gray-400: #9ca3af;
    --color-neutral-50: #6b7280;
    --color-interface-surface-component-muted: #f5f6f7;
    --color-color-gray-text-teritiary: #667085;
    --color-light-theme-text-default: #4c525f;
    --color-social-dribbble: #ea4c89;
    --color-light-theme-text-title: #293141;
    --color-light-theme-text-subtitle: rgba(76, 82, 95, 0.6);
    --color-gold: #f8ca16;
    --color-darkslateblue: #4a5ea7;
    --color-neutral-200: #999;
    --color-color-warning-tint100: #fef0c7;
    --color-color-warning-tint400: #fdb022;
    --color-gray-100: #777;
    --color-gray-200: rgba(255, 255, 255, 0.3);
    --color-gray-300: rgba(0, 0, 0, 0.03);
    --color-gray-400: rgba(0, 0, 0, 0);
    --color-interface-text-default: #4b586e;
    --color-gainsboro: #dfe4ec;
    --color-text-menu: #767a87;
    --color-text: #363a44;
    --color-light-theme-border-default: #d8d8d8;
    --color-alert-red: #a83b3b;
    --color-red-600: #e02424;
    --color-snow: #fbf9f7;
    --color-contrast-20-light: rgba(28, 55, 90, 0.16);
    --color-tertiary-text-light1: rgba(28, 48, 74, 0.5);
    --color-stroke-default: #d1d5db;
    --color-gray-50: #f9fafb;
    --color-colors-highlight-pure: #5d4026;
    --color-colors-primary-pure: #06486c;
    --color-yellow-300: #faca15;
    --color-color-secondary-base: #4fb155;
    --color-interface-text-subtitle1: #9ca1ab;
    --color-interface-text-default: #4b586e;
    --color-border: #eae7e5;
    --color-neutral-sig-sand-1: #f2efeb;
  }
  
}

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
